body{
    background-color: black;
}
h1{
    text-transform: uppercase;
    size: 3rem;
    color: gold;
}
p{
    color: gold;
}
.poster{
    width: 50%;
    margin-left: 25%;
    background-color: black;
    margin-top: 100px;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}
.rickroll{
    border: 5px white;
    width: 100%;
}